form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    background-color: white;
}

input {
    padding: 5px 5px;
    line-height: 16px;
    margin: 10px 0;
}

#inputtext {
  width: 80%;
}
